<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="/admin/update-product" method="post">
    <label for="name">Book Name</label>
    <input type="text" name="book_name" id="name" value="<%=books.book_name%>">
    <label for="author">Author Name</label>
    <input type="text" name="author_name" id="author" value="<%=books.author_name%>">
    <label for="price">Price</label>
    <input type="text" name="price" id="price" value="<%=books.price%>">
    <label for="image">Book Image</label>
    <input type="text" name="image" id="image" value="<%=books.image%>">
    <button type="submit">Update Product</button>
    </form>
</body>
</html>